<!DOCTYPE html>
<html>
<head>
	<title>perfectcity.io</title>
    <link rel="stylesheet" href="style/main.css" />
    <link rel="stylesheet" href="style/rzslider.css" />
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.js"></script>
	<script src="js/algorithm.js"></script>
	<script src="js/app.js"></script>
	<script src="js/app1.js"></script>
	<script src="js/rzslider.js"></script>
</head>
<body ng-app = "myApp">
<h1 class = "pcityabout">perfectcity.aiyo</h1>
<h2 class = "pcity">Take this quiz to find out the perfect city for you!</h1>
<!-- multistep form -->
<form id="msform">
	<!-- progressbar -->
	<ul id="progressbar">
		<li class="active">Current</li>
		<li>Dream</li>
		<li>Perfect</li>
	</ul>


<!-- fieldsets -->

<!--_____________________PAGE 1_____________________-->

<div class = "main" ng-controller="PCtrl">
	<fieldset >


		<h2 class="fs-title">LET'S GET TO KNOW YOU!</h2>


        <!-- Text Input in form -->

		How old are you?
		<br />
		<input type="text" name="age" placeholder="21" ng-model="aboutYou.age"/>
		What city do you currently live in? <br />
		<input type="text" name="city" placeholder="New York" ng-model="aboutYou.city"/>

				<input type="button" name="next" class="next action-button" value="Next" ng-click="clicky()"/>


	</fieldset >
	<fieldset>

		<h2 class="fs-title">Tell us more about you!</h2>

		
		<!-- EDUCATION -->

	<div class="radio-parent">
		<div class="text-label">
			Would you like to pursue higher education?
		</div>
		<!-- Radio Buttons attempt -->
		<div class="radio-button-holder">
  		<div class="radio-holder">
  			<input class="sound" type="radio" id="edu_yes" value="yes" name="user_edu" ng-model="aboutYou.education"> Yes
  		</div>
	 		<div class="radio-holder">
  			<input class="sound" type="radio" id="edu_no" value="no" name="user_edu" ng-model="aboutYou.education"> No
  		</div>
	  </div>
	</div>


		<!-- TRANSIT  -->


	<div class="radio-parent">
		<div class="text-label">
			Do you use your city's public transit?
		</div>
		<!-- Radio Buttons attempt -->
		<div class="radio-button-holder">
  		<div class="radio-holder">
  			<input class="sound" type="radio" id="transit_yes" value="yes" name="user_trans" ng-model="aboutYou.transit"> Yes
  		</div>
	 		<div class="radio-holder">
  			<input class="sound" type="radio" id="transit_no" value="no" name="user_trans" ng-model="aboutYou.transit"> No
  		</div>
	  </div>
	</div>


		<!-- CRIME  -->


	<div class="radio-parent">
		<div class="text-label">
			Have you ever been a victim of crime? 
		</div>
		<!-- Radio Buttons attempt -->
		<div class="radio-button-holder">
  		<div class="radio-holder">
  			<input class="sound" type="radio" id="crime_yes" value="yes" name="user_crime" ng-model="aboutYou.crime"> Yes
  		</div>
	 		<div class="radio-holder">
  			<input class="sound" type="radio" id="crime_no" value="no" name="user_crime" ng-model="aboutYou.crime"> No
  		</div>
	  </div>
	</div>


		<!-- BUTTONS -->

		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<input type="button" name="next" class="next action-button" value="Next" ng-click="clicky()"/>

	</fieldset>

	<!--_____________________PAGE 2_____________________-->

	<fieldset>

		<h2 class="fs-title">How important are these parameters to you?</h2>
			    

        <h3 class="fs-subtitle"> Parks: </h3>
            <rzslider rz-slider-model="sliderValues.parks"
                rz-slider-floor="0"
                rz-slider-ceil="10"
                rz-slider-always-show-bar="true"></rzslider>

        <h3 class="fs-subtitle"> Public Transit: </h3>
            <rzslider rz-slider-model="sliderValues.transit"
                rz-slider-floor="0"
                rz-slider-ceil="10"
                rz-slider-always-show-bar="true"></rzslider>

        <h3 class="fs-subtitle"> Safety: </h3>
            <rzslider rz-slider-model="sliderValues.crime"
                rz-slider-floor="0"
                rz-slider-ceil="10"
                rz-slider-always-show-bar="true"></rzslider>

        <h3 class="fs-subtitle"> Outdoor Activities: </h3>
            <rzslider rz-slider-model="sliderValues.outdoor"
                rz-slider-floor="0"
                rz-slider-ceil="10"
                rz-slider-always-show-bar="true"></rzslider>

        <h3 > Employment Opportunities: </h3>
            <rzslider rz-slider-model="sliderValues.unemployment"
                rz-slider-floor="0"
                rz-slider-ceil="10"
                rz-slider-always-show-bar="true"></rzslider>        
		<br>
	 	<input type="button" name="previous" class="previous action-button" value="Previous" />
		<input type="button" name="next" class="next action-button" value="Next" ng-click="getResult()"/>
	</fieldset>

<!--_____________________PAGE 3_____________________-->

	<fieldset>
		<h2 class="fs-title">And the perfect city for you is ...</h2>
		<h3 class="fs-subtitle">{{result.CITYNAME}}!</h3>

		<img ng-src="{{result.IMAGE}}" alt="display perfect city image" style="width:500px;height:300px;" />

		<br />
		<br />
		
		<a href="index.html" class="action-button" >Restart</a>
		<a href="#" class="action-button" >Share</a>

	</fieldset>

</div>
</form>
<footer>
	
	 <a href="about.html">Learn more about perfectcity.aiyo</a> |  <a href="http://github.com/aiyotech">aiyotech &copy;</a> 2015
</footer>
</body>
</html>









